<div class="container">
    <div class="row mx-auto col-10">
      <h5 class="mt-5 mb-5">
        <span1 class="px-3">
          マイページ
        </span1>
      </h5>
    </div>

    <div class="row mb-3">
      <div class="col-1">
        <strong>登録情報</strong>
      </div>
      <div class="col-2">
        <%= link_to "編集する", information_path, class: "btn btn-success btn-sm" %>
      </div>
    </div>

    <div class="row">
      <div class="col-7">
        <table class="table table-bordered">
          <tbody class="table-light">
            <tr>
              <th>氏名</th>
              <td>
                <%= current_customer.last_name %>
                <%= current_customer.first_name %>
              </td>
            </tr>
            <tr>
              <th>フリガナ</th>
              <td>
                <%= current_customer.last_name_kana %>
                <%= current_customer.first_name_kana %>
              </td>
            </tr>
            <tr>
              <th>郵便番号</th>
              <td><%= current_customer.postal_code %></td>
            </tr>
            <tr>
              <th>住所</th>
              <td><%= current_customer.address %></td>
            </tr>
            <tr>
              <th>電話番号</th>
              <td><%= current_customer.telephone_number %></td>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td><%= current_customer.email %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

      <div class="row mt-3 mb-3">
        <div class="col-1">
          <strong>配送先</strong>
        </div>
        <div class="col-2">
        <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary btn-sm" %>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <strong>注文履歴</strong>
        </div>
        <div class="col-2">
          <%= link_to "一覧を見る", orders_path, class: "btn btn-primary btn-sm" %>
        </div>
      </div>

  </div>