<div class="container">

    <div class="row">
        <div class="mx-auto col-10">
          <h5 class="mt-5 mb-5">
            <span1 class="px-3">
              <%= @customer.last_name%>
              <%= @customer.first_name %>さんの会員情報編集
            </span1>
          </h5>
        </div>
      </div>

          <div class="row mb-2">
            <div class="col-2">
               会員ID
            </div>
            <div class="col-sm-3">
              <%= @customer.id %>
            </div>
          </div>

          <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>

           <div class="row mb-2">
              <div class="col-2 col-form-label">
                名前
              </div>
              <div class="col-sm-3">
                <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
              </div>
              <div class="col-sm-3">
                <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-2 col-form-label">
                フリガナ
              </div>
              <div class="col-sm-3">
                <%= f.text_field :last_name_kana, autofocus: true, class: "form-control" %>
              </div>
              <div class="col-sm-3">
                <%= f.text_field :first_name_kana, autofocus: true,  class: "form-control" %>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-2">
                <%= f.label :postal_code, "郵便番号", class: "col-form-label" %>
              </div>
              <div class="col-sm-3">
                <%= f.text_field :postal_code, autofocus: true, class: "form-control" %>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-2">
                <%= f.label :address, "住所", class: "col-form-label" %>
              </div>
              <div class="col-sm-6">
                <%= f.text_field :address, autofocus: true, class: "form-control" %>
              </div>
            </div>

           <div class="row mb-2">
              <div class="col-2">
                <%= f.label :telephone_number, "電話番号", class: "col-form-label" %>
              </div>
              <div class="col-sm-3">
                <%= f.text_field :telephone_number, autofocus: true, class: "form-control" %>
              </div>
            </div>

             <div class="row mb-2">
              <div class="col-2">
                <%= f.label :email, "メールアドレス", class: "col-form-label" %>
              </div>
              <div class="col-sm-3">
                <%= f.text_field :email, autofocus: true, class: "form-control"  %>
              </div>
            </div>

            <div class="row mb-3">
               <div class="col-2">
                 <%= f.label :is_deleted, "会員ステータス", class: "col-form-label" %>
               </div>
               <div class="col-6 col-form-label">
                 <%= f.radio_button :is_deleted, :false, class: "form-check-label" %>
                 <%= f.label :is_deleted, "有効", {value: :false, style: "display: inline-block;"} %>
                 <%= f.radio_button :is_deleted, :true, class: "form-check-label" %>
                 <%= f.label :is_deleted, "退会", {value: :true, style: "display: inline-block;"} %>
               </div>
            </div>

             <div class="d-grid gap-2 col-6 mx-auto">
              <%= f.submit "変更を保存", class: "btn btn-success" %>
              <% end %>
            </div>

      </div>