<div class="container">
  <div class="row mx-auto col-10">
      <h5 class="my-5">
        <span1 class="px-3">
          会員一覧
        </span1>
      </h5>
    </div>

  <table class="table mx-auto col-8">
    <thead class="table-light">
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
      <tr>
        <td>
          <%= customer.id %>
        </td>
        <td>
          <%= link_to  admin_customer_path(customer.id) do %>
          <%= customer.last_name %>
          <%= customer.first_name %>
          <% end %>
        </td>
        <td>
          <%= customer.email %>
        </td>
        <td>
          <% if customer.is_deleted %>
           <strong>
             <p class="text-black-50">退会</p>
           </strong>
          <% else %>
           <strong>
             <p class="text-success">有効</p>
           </strong>
          <% end %>
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>

    <div class="row">
        <div class="mx-auto">
          <div class="pagination justify-content-around">
             <%= paginate @customers %>
          </div>
        </div>
     </div>

  </div>
</div>