<h2>商品一覧（全<%= @items_count%>件）</h2>

<% @items.each do |item| %>

<div>
<%= image_tag item.get_image %>
<p><%= item.name %></p>
<p><%= item.price.to_s(:delimited) %></p>
</div>

<% end %>
<%= paginate @items %>