<%= image_tag @item.get_image %>

<div>
<h3><%= @item.name %></h3>
<p><%= @item.introduction%></p>
</div>

<div>
<h4>¥<%= @item.price.to_s(:delimited) %></h4>
<p>（税込）</p>
</div>


<%= form_with model: @cart_item, url: cart_items_path, scope: :cart_item do |f| %>
<%= f.hidden_field :item_id, :value => @item.id %>
<%= f.select :amount, *[1..10] %>
<%= f.submit 'カートに入れる' %>
<% end %>
