<!DOCTYPE html>
<html>
  <html lang="ja">
  <head>
    <title>NaganoCAKE</title>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/eabeaac4fc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
    <header class="shadow-sm">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
          <div class="container">
            <a class="navbar-brand" href="root_path">NaganoCAKE</a>
            <div class="collapse navbar-collapse justify-content-end" >
              <ul class="navbar-nav">
              <% if admin_signed_in? %>
              <li class="nav-item ">
                <%= link_to '商品一覧', admin_items_path, class: "btn btn-outline-dark"  %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to '会員一覧', admin_customers_path, class: "btn btn-outline-dark" %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to '注文履歴一覧', admin_root_path, class: "btn btn-outline-dark" %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to 'ジャンル一覧', admin_genres_path, class: "btn btn-outline-dark" %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-dark" %>
              </li>
            <% elsif customer_signed_in? %>
              <li class="nav-item ml-3">
                <%= link_to 'マイページ', customer_path(current_customer.id), class: "btn btn-outline-dark" %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to '商品一覧', items_path, class: "btn btn-outline-dark" %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to 'カート', cart_items_path, class: "btn btn-outline-dark" %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline-dark" %>
              </li>

            <% else %>
              <li class="nav-item ml-3">
                <%= link_to 'About', homes_about_path, class: "btn btn-outline-dark" %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to '商品一覧', items_path, class: "btn btn-outline-dark" %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-dark" %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-dark" %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <% end %>

    </header>

    <main >
       <%= yield %>
    </main>

    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>
